{% extends 'alarmapp/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">

  <div class="station-grid">
    {% for s in stations %}
    <div class="station-card">

      <div class="station-title">
        {{ s.name }}
      </div>

      <div class="station-value
        {% if s.status == 'WRONG' %}value-red{% else %}value-green{% endif %}">
        {{ s.value }}
      </div>

    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
