{% extends 'alarmapp/base.html' %}

{% block title %}Threshold{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5>Threshold</h5>

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <button class="btn btn-success">Save</button>
          <a class="btn btn-link" href="{% url 'dashboard' %}">Cancel</a>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
